/*Load google font*/
@import url("https://fonts.googleapis.com/css?family=Questrial:300,400,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  display: block;
  text-decoration: none;
  text-transform: none;
  color: #4a90e2;
}

body {
  line-height: 1;
  font-family: Questrial, ubuntu, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 19px;
  background-color: #fefefe;
  color: #04143a;
}
ol,
ul {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}
/* Reset ends */

/* ============ MENU ============ */
.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
}
.menu-link {
  font-weight: 400;
  padding: 15px;
  border-radius: 5px;
}
.menu-link--active {
  font-weight: bold;
  background-color: #4a90e2;
  color: white;
}

/* ============ BUTTON ============ */
.button {
  display: inline-block;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  background-color: #4a90e2;
  color: white;
}

/* ============ BASIC LAYOUT ============ */
.tb-2-cols {
  display: flex;
  align-items: center;
  justify-content: center;
}
.col {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Typography */
.main-text {
  font-size: 24px;
  font-weight: 400;
  line-height: 55px;
}

/* ============================ INDEX PAGE =============================== */
/*Hero section*/

.container {
  max-width: 1100px;
  height: auto;
  margin: 60px auto;
}

main {
  margin-top: 40px;
}

.hero {
  margin: 50px auto;
}

.hero-image {
  border-radius: 10px;
  width: 100%;
  height: 450px;
  margin-bottom: 48px;
  object-fit: cover;
}

h1.name {
  font-size: 70px;
  /* font-weight: 300; */
  display: inline-block;
}

.job-title {
  vertical-align: top;
  background-color: #d9e7f8;
  color: #4a90e2;
  font-weight: 600;
  margin-top: 5px;
  margin-left: 20px;
  border-radius: 5px;
  display: inline-block;
  padding: 15px 25px;
}

.student-id {
  display: block;
  font-size: 24px;
  font-weight: 300;
  color: #81899c;
  margin-top: 10px;
}

.lead {
  font-size: 36px;
  font-weight: 400;
  margin-top: 60px;
  line-height: 55px;
}

/* DESIGN TAB */
.design-image {
  max-width: 80%;
  border-radius: 5px;
  margin-bottom: 10px;
}
.design-table {
  margin-top: 16px;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
.Requirement {
  display: block;
}

/* Lab 5 */
#calculator {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin: 10px 0;
}

button {
  background-color: #4caf50;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

#result {
  margin-top: 20px;
}
#priceChange,
#initialQuantity,
#initialPrice,
#productName {
  font-size: 30px;
}

.figma-image {
  max-width: 85%;
}
